<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>My App</title>
		<link rel="stylesheet" href="/cssmin/site.css">
		<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
		<script src="/vendor/jquery/dist/jquery.min.js"></script>
		<script src="/vendor/angular/angular.min.js"></script>
		<script src="/vendor/angular-route/angular-route.min.js"></script>
		<script src="/vendor/angular-animate/angular-animate.min.js"></script>
	</head>
	<body ng-app="app" ng-controller='ShellController'>
		<div ng-view>
			
		</div>
		<script src='/min/all.js'></script>
	</body>
</html>
